@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600&display=swap');

:root{
  font-family: 'Rubik', sans-serif;

/* -------------- COLORS  -----------*/
  --dark-blue: #0D0D2B;
  --light-blue: #3671E9;
  --white-accent: #FFFFFF;
  --black: #000000;
  
/*----------- FONT Weight ------------*/
  --header-weight: 600;
  --body-weight: 1rem;
  --btn-font-weight: 300;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
header{
  background-color: var(--dark-blue);
}
 
body{
  background-color: var(--dark-blue);
  width: 100%;
}

header{
  background-image: url(assets/hero-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
/* -------------------- NAV SECTION ---------------------- */

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--white-accent);
}
nav img{
  cursor: pointer;
}

.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-accent);
}

nav > ul > li {
  display: inline-block;
  /* display: flex; */
  list-style: none;
  padding: 0 2rem;
  font-size: 1rem;
  transition: transform .3s;
  font-weight: 100;
}
nav li:hover{ 
  color: var(--light-blue);
  transform: scale(1.2);
}
a {
  text-decoration: none;
  color: var(--white-accent);
}

.btn{
  background-color: var(--light-blue);
  padding: 15px 30px;
  border-radius: 30px;
  color: var(--white-accent);
  border: 0;
  font-weight: 700;
  font-size: .9rem;
  transition: transform .4s; 
}

.btn:hover{
  transform: scale(1.2);
}

/* -------------------- HERO  SECTION ----------------------*/

.hero-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10rem;
  flex-wrap: wrap;
  height: 100vh;
}

.price-off{
  display: flex;
  color: var(--white-accents);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white-accent);
  width: 65%;
  border-radius: 30px;
  font-size: .8rem;
}

.price-off >p{
  padding-left: 15px;
}

.price-off .small >p {
  background-color: var(--white-accent);
  color: var(--black);
  width: 70%;
  border-radius: 25px;
  padding:10px 14px;
  margin: 0 0 0 5px ;
  text-align: center;
  font-size: .7rem;
}

.hero-details h1{
  color: var(--white-accent);
  font-size: clamp(2.5rem, 5vw, 4rem);
}

.hero-details p{
  color: var(--white-accent);
  padding: 0 0 1rem 0;
  font-weight: 300;
  font-size: .9rem;
  line-height: 22px;
}

.btn-hero{
  background-color: var(--light-blue);
  padding: 20px 30px;
  border-radius: 30px;
  color: var(--white-accent);
  border: 0;
  font-weight: 700;
  font-size: 1rem;
  transition: transform .4s; 
}

.btn-hero:hover{
  transform: scale(1.2);
}

.hero-img-right{
  margin: -6rem;
  margin-right: 1rem;
  height: clamp(20rem, 50vw, 35rem);
}

/* ------------------------------ STATS --------------------------- */

.stats{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--white-accent);
}

.first, .second, .third{
  display: flex;
  justify-content: center;
  height: 5rem;
  /* width: 34%; */
}

.first h2, 
.second h2,
.third h2{
  font-size: 2.5rem;
  margin: 0;
  padding: 0 0 .5rem 1rem;
}

.first p,
.second p,
.third p{
  font-weight: 300;
  margin: 0;
  padding: 0 1rem;
}

/* ----------------------------------- WHY YOU SECTION -------------------------------- */

.why-you{
  display: flex;
  justify-content: space-around;
  color: var(--white-accent);
  margin-top: 5rem;
  line-height: 3.5rem;
}

.why-you img{
  height: clamp(20rem, 30vw, 30rem);
}
.right {
width: 40%
}

.right h3{
font-size: clamp(.8rem, 4vw, 2.5rem);
}

.right p {
  font-weight: 300;
  line-height: 2rem;
}

.btn-LM {
  background-color: var(--light-blue);
  padding: 20px 40px;
  border-radius: 40px;
  color: var(--white-accent);
  border: 0;
  font-weight: 700;
  font-size: .9rem;
  transition: transform .4s; 
}

.btn-LM:hover{
  transform: scale(1.2);
}

/* ----------------------------------- CHECK HOW MUCH -------------------------------- */

.check-how-much{
  display: flex;
  flex-direction: column;
  color: var(--white-accent);
  align-items: center;
  margin-top: 2rem;
  font-weight: 300;
  z-index: 1;
  box-shadow: 5px solid var(--dark-blue);
  width: 100%;
}

.check-how-much h3{
  font-size: clamp(2rem, 3vw, 3rem);
}

.check-how-much p{
  text-align: center;
  line-height: 25px;
  width:90%
}

.input-field{
  background-color: var(--white-accent);
  padding: 3rem  6rem;
  border-radius: 20px;
  text-align: left;
  box-shadow: 5px 10px 35px rgba(14, 11, 54, 0.2);
}

input[type=text]:nth-child(1){
  padding: 0 4rem;
  border:0;
  color: var(--dark-blue);
  border-bottom: 2px solid #eee;
  text-align: left;
}

select[name=dropdown]:nth-child(2){
  padding: 0 4rem;
  background-color: var(--white-accent);
  margin: 0 1rem;
  border:0;
  border-bottom: 2px solid #eee;
}

.input-field input[type=submit]{
    background-color: var(--light-blue);
    padding: 15px 40px;
    border-radius: 40px;
    color: var(--white-accent);
    border: 3px solid transparent;
    margin: 0 1rem;
    font-weight: 700;
    transition: transform .4s; 
  }
  
  .input-field input[type=submit]:hover{
    border: 3px solid var(--light-blue);
    background-color: var(--white-accent);
    color: var(--light-blue);
  }

.estimate{
  color: var(--black);
  padding: 0;
  text-align: left;

}
.estimate h3{
  margin: 0;
  text-align: left;
  font-size: 2.2rem; 
}
.estimate h5{
  margin: 4rem 0 1rem 0;
  text-align: left;
  color: var(--light-blue);
}

.estimate span{
  color: var(--light-blue);
}

.estimate p{
  font-size: 1rem;
  text-align: left;
  opacity: .4;
}

/* ----------------------------------- TRADE SECURELY SECTION  -------------------------------- */

.trade-securely{
  background-color: var(--white-accent);
  margin-top: -12rem;
  padding-top: 15rem;
}

.trade-securely .head-txt{
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: 3rem;
}

.trade-securely .cards{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  padding-top: 2rem;
  width: 100%;
}

.trade-securely 
.cards 
.section-1,
.section-2,
.section-3{
  width: 15%;
  border: 3px solid transparent;
  border-radius: 15px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 4rem;
  margin-right: 2rem;
  padding: 2rem 2rem;
  line-height: 1.2rem;
  box-shadow: 5px 4px 7px rgba(14, 11, 54, 0.2);
}

.cards
.section-1 h3,
.section-2 h3, 
.section-3 h3{
  font-size: 1.8rem;
}

.cards .section-1:hover{
  background-color: #2b076e;
  color: var(--white-accent);
}
.cards .section-2:hover{
  background-color: #2b076e;
  color: var(--white-accent);
}
.cards .section-3:hover{
  background-color: #2b076e;
  color: var(--white-accent);
}

.cards span{
  color:rgb(189, 189, 189);
  font-size: .8rem;
}

.btn-BTC, .btn-ETH, .btn-LTC i{
  background-color: var(--light-blue);
  padding: 18px 40px;
  border-radius: 40px;
  color: var(--white-accent);
  border: 0;
  font-weight: 700;
  font-size: .9rem;
  transition: transform .4s; 
}


/*------------------------ MARKET SENTIMENTS, PORTFOLIO SECTION -------------------------*/

.sect-1{
color: var(--white-accent);
display: flex;
flex-direction: column;
margin: auto;
padding: 0rem ;
background-color: #2B076E;
}

.sect-1 h2{
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  display: inherit;
  margin: auto;
  align-items: center;
  text-align: center;
  line-height: 3rem;
  padding: 0 2rem 4rem;
  flex-wrap: wrap;
}

/* ------------------------- invest Smart -------------------------*/

.sect-1 .line-1{
  display: inherit;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.item-1-left h3{
  font-size: 2rem;
}

.item-1-left{
  margin:auto;
  width: 40%;
  font-weight: 100;
  padding: 2rem 0;
  padding-right: 5rem;
  align-items: center;
}

.line-1 img{
  height: clamp(25rem, 20vh, 25rem);
}

/*------------------------ detailed statistics ---------------------*/

.sect-1 .line-2{
  display: flex;
  padding: 2rem;
  margin: auto;
}

.line-2 .line-2-right{
  line-height: 2rem;
  padding: 0 1rem;
  font-weight: 100;
  width: 25%;
}

.sect-1 .line-2 img{
  height: clamp(20rem, 20vh, 25rem);
  padding: 0 4rem;
}

.sect-1 .line-2-right h3{
  font-size: 2rem;
}

/*------------------------ Grow your profit  ---------------------*/

.sect-1 .line-3{
  display: flex;
  font-weight: 100;
  padding: 2rem 3rem;
  justify-content: center;
  margin: auto;
  width: 80%
}

.sect-1 .line-3-item h3{
  font-size: 2rem;
}
.sect-1 .line-3-item p{
  width: 90%;
  line-height: 1.5rem;
}

.line-3 img{
  height: clamp(20rem, 10vh, 25rem);
}


/*------------------------ Start mining now  --------------------------*/

.blue-card{
  background-image: url(assets/newsletter-bg.png);
  background-position: center;
  background-size: cover;
  color: var(--white-accent);
  font-weight:100;
  /* padding: 0 2rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.blue-card .left{
  display: flex;
  align-items: center;
  background-image: url(assets/newsletter-box.png);
  background-position: center;
  background-size: cover;
  width: 75%;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin: 4rem;
  justify-content: center;
  
}

.card-details h3{
  font-size: 2rem;
}
.card-details{
  width: 100%;
  /* padding: 0 8rem 0 0; */
  line-height: 1.5rem;
  margin: auto;
}

form input[type=text]{
  background-color: transparent;
  color: var(--white-accent);
  font-size: 1rem;
  align-items: flex-start;
}

form input[type=submit]{
  background-color: var(--white-accent);
  padding: 10px 40px;
  border-radius: 40px;
  color: var(--dark-blue);
  border: 0;
  margin: 0 1rem;
  font-weight: 700;
  transition: transform .4s; 
  border: 3px solid transparent;
}

form input[type=submit]:hover{
  color: var(--white-accent);
  background-color: var(--light-blue);
  border: 3px solid var(--white-accent);
}

/*------------------------ FOOTER ------------------------- */
footer{
  cursor: pointer;
  background-color: var(--dark-blue);
  color: var(--white-accent);
  /* font-weight: 100; */
  display: flex;
  padding: 0 5rem;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  line-height: 2rem;
  width:100%;

}
footer ul li{
  list-style: none;
  cursor: pointer;
}

footer .stack3 h2{
  font-size: 2rem;
  line-height: 3rem;
}

/* <!---------------------- FOOTER with social links ------------------------> */

.footer-footer{
  margin-top: 3rem;
  display: flex;
  color: var(--white-accent);
  list-style: none;
  justify-content: space-around;
  padding: 0 5rem;
}

.footer-footer .social-links ul li{
  display: inline;
  list-style: none;
  padding: 0 1.3rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.footer-footer span{
  color: var(--light-blue);
}

/*-------------------------------- MEDIA ---------------------------------*/

@media screen and (max-width: 950px) {

    /* -------------------- HERO  SECTION ----------------------*/
    .nav-menu{
      position: absolute;
      display: flex;
      left: -100%;
      top: 70px;
      gap:0;
      flex-direction: column;
      justify-content: center;
      background-color: #2b076e;
      width: 100%;
      text-align: center;
      transition: 0.3s; 
      padding: 0;
    }
    nav ul li{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    }

    .hamburger{
      display: block;
    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .nav-item{
      margin: 16px 0;
    }
    .nav-menu.active{
      left: 0;
    }
    nav{
      padding-top: 1rem;
    }

    .btn{
      background-color: var(--light-blue);
      padding: 15px 10px;
      border-radius: 0px;
      color: var(--white-accent);
      border: 0;
      font-weight: 700;
      font-size: .9rem;
      transition: transform .4s; 
    }
    
      .hero-section{
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
        margin: auto;
        text-align: center;
        height: 100vh;
        margin-top: 0rem;
        width: 100%;
      }

      .price-off{
        width: 85%;
        margin: auto;
      }
    /* ------------------------------ STATS --------------------------- */
      .stats{
        display: flex;
        flex-direction: column;
        padding-top:2rem;
        text-align: left;
        
      }

      .first, .second, .third{
        display: flex;
        justify-content: center;
        height: 3rem;
        padding: 2rem 0;
        margin: auto;
      }
    /* ----------------------------------- WHY YOU SECTION ------------------------ */
      .why-you{
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;
        align-items: center;
        text-align: center;
        width: 100%;
        line-height: 2rem;
        
      }
      
      .right h3{
        font-size: 2rem;
        width: 100%;
        }

        .right {
          width: 80%
          }
    /* ---------------------------- CHECK HOW MUCH ------------------------- */

        .check-how-much{
            text-align: center;
            width:95%;
            margin:0;
        }
        .input-field{
            margin: auto;
            text-align: center;
        }
        input[type=text]:nth-child(1){
            padding: 1rem 1rem;
            color: var(--dark-blue);
            border-bottom: 2px solid #eee;
            text-align: center;
        }

        select[name=dropdown]:nth-child(2){  padding: 1rem 0; }

        .estimate h3{ text-align: center; font-size:1.7rem; }

        .estimate h5{text-align: center;font-size:1rem; }

        .estimate p{ text-align: center; font-size: .7rem;}

    /* ----------------------- TRADE SECURELY SECTION  ------------------------- */

    .trade-securely .head-txt{
      text-align: center;
      font-size: 1.8rem;
      line-height: 2rem;
    }
    .trade-securely .cards{
      flex-direction: column;
      margin: auto;
      text-align: center;
      justify-content: center;
    }
    .trade-securely 
    .cards 
    .section-1,
    .section-2,
    .section-3{
      margin: auto;
      width: 40%;
    }

    .btn-BTC, .btn-ETH, .btn-LTC {
      background-color: var(--light-blue);
      padding: 12px 35px;
    }

    /*------------------------ MARKET SENTIMENTS, PORTFOLIO SECTION -------------------------*/

    .sect-1 .line-1{
      display: inherit;
      justify-content: center;
      flex-direction: column-reverse;
      margin: auto;
      align-items: center;
      
    }
    .sect-1 h2{
      line-height: 2rem;
    }

    /* ------------------------- invest Smart -------------------------*/
    .item-1-left{
      margin:auto;
      width: 80%;
    }
    .line-1 img{
      width:100%;
      height: 20rem;
    }

    /*------------------------ detailed statistics ---------------------*/
    .sect-1 .line-2{
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .line-2 .line-2-right{
      line-height: 1.7rem;
      padding: 2rem 1rem;
      width: 80%;
    }

    .sect-1 .line-2 img{
      height: 20rem;
      padding: 0 4rem;
    }
    /*------------------------ Grow your profit  ---------------------*/

    .sect-1 .line-3{
      display: flex;
      width: 100%;
      flex-direction: column-reverse;
    }

    .sect-1 .line-3{
      display: flex;
      font-weight: 100;
      padding: 0rem 0rem;
      justify-content: center;
      margin: auto;
      width: 80%
    }

    .line-3 img{
      height: 13rem;
      width: 100%;
    }
    .sect-1 .line-3-item h3{
      font-size: 2rem;
      width:100%;
    }

    .sect-1 .line-3-item p{
      width: 90%;
      line-height: 1.5rem;
      font-size: .9rem;
    }
/*------------------------ Start mining now  --------------------------*/

.blue-card .left{
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  margin: 2rem;
  text-align: center;
}

.card-details{
  width: 70%;
  line-height: 1.5rem;
  text-align: center;
  margin: auto;
  justify-content: center;
}

form input[type=text]{
  margin: auto;
  align-items: center;
  padding: 1rem 0;
  
}

/*------------------------ FOOTER ------------------------- */

footer{
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}
footer ul{
  padding: 0;
}

/* <!---------------------- FOOTER with social links ------------------------> */
.footer-footer{
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 0%;
  text-align: center;
}

.footer-footer ul{
  padding: 0%;
}


  }